@font-face {
  font-family: "Mutsuki";
  font-weight: 500;
  src: url("Mutsuki.woff") format("woff"), url("Mutsuki.ttf") format("truetype");
}

body {
  font-family: "Mutsuki", "Hoefler Text", "Linux Libertine O", serif;
  font-weight: 500;
  font-size: 18px;
  margin: auto;
  max-width: 40em;
  line-height: 1.28em;
  text-align: center;
  background: #fec;
}
h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5em;
}
h2 {
  font-weight: 500;
  font-size: 1.28em;
}
h3 {
  font-weight: 500;
  font-size: 1em;
  text-decoration: underline;
}
#altlang {
  margin: 0;
  padding: 0;
}
#altlang li {
  display: inline-block;
  margin: 0 0.2em;
}
.vert {
  writing-mode: tb-rl;
  -moz-writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  height: 13em;
  text-align: justify;
  text-justify: inter-ideograph;
}

