@font-face {
  font-family: "Mutsuki";
  font-weight: 600;
  src: url("Mutsuki.woff2") format("woff2"), url("Mutsuki.woff") format("woff"), url("Mutsuki.ttf") format("truetype");
}

@font-face {
  font-family: "Adobe NotDef";
  font-weight: 600;
  src: url("AND-Regular.woff2") format("woff2"), url("AND-Regular.woff") format("woff"), url("AND-Regular.otf") format("opentype");
}

html {
  background: #fec;
  font-family: "Mutsuki", "Hoefler Text", "Linux Libertine O", "Yu Mincho", serif;
  font-weight: 600;
  font-size: 15pt;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: break-word;
}

* {
  line-height: 1.75em;
}

body {
  margin: auto;
  max-width: 24rem;
}

h1 {
  text-transform: uppercase;
  font-size: 2em;
}

h1 ruby {
  ruby-align: center;
  ruby-position: under;
}

h1 ruby > rt {
  font-size: 0.4em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
  text-decoration: underline;
}

dl, ul, ol {
  text-align: left;
  overflow: auto;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

#altlang {
  text-align: center;
  margin: 0.5em;
  padding: 0;
}

#altlang li {
  display: inline-block;
  margin: 0 0.5em;
}

.alt {
  font-feature-settings: 'cv01';
  -moz-font-feature-settings: 'cv01';
  -webkit-font-feature-settings: 'cv01';
}

.vert {
  writing-mode: tb-rl;
  -moz-writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  text-align: start;
}

.showcase {
  overflow: auto;
}

.showcase > * {
  margin: auto;
}

.sample {
  font-family: "Mutsuki", "Adobe NotDef", sans-serif;
}
